TOKEN=your_vk_group_token
GROUP_ID=your_vk_group_id

POSTGRES_HOST=node1.pghost.ru
POSTGRES_PORT=15503
POSTGRES_PASSWORD=6Ld4dKoheFLIoE5zoCESOm6gsHMjdt_Ex6dRHhKkclk
POSTGRES_USER=bothost_db_2f2185950f4a
POSTGRES_DB=bothost_db_2f2185950f4a
