TOKEN=vk1.a.I-zTBkgYvoEAfhaC4fFFjxnw1WKL9Pn6pHkqS9IB4T1iS2vN_gSPFL7vaiN2M8BAL_NSv58R6-wi3kXZzzJJnN0x8cCyFg-u_RWBpX12smNQZAGnaerteQuwPLUQYl2emVVn8Dc1TGUrqSiOocaNLWhBLaJlpFzVjr0u9PAcNPRCC-A6mUUY0MQPJEkbV2Gqdo4Qei7sFUMfDPjlSm1DUQ
GROUP_ID=236023405

POSTGRES_HOST=node1.pghost.ru
POSTGRES_PORT=15503
POSTGRES_PASSWORD=6Ld4dKoheFLIoE5zoCESOm6gsHMjdt_Ex6dRHhKkclk
POSTGRES_USER=bothost_db_2f2185950f4a
POSTGRES_DB=bothost_db_2f2185950f4a
